* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #161461;
  --secondary-color: #4415a8;
  --complimentary-color: #0e1797;
  --contrast-color: #023d26;
  --light-color: #059682;
}

html,
body {
  overflow: hidden;
}


.container {
  background: #000000;
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
  padding: 2%;
}

nav a {
  font-size: 2.5rem;
  color: #fff;
  text-decoration: none;
  padding: 1.5rem;
  text-align: center;
}


nav {
  position: absolute;
  left: 0;
  z-index: 50;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  background: var(--secondary-color);
}

.zero-section {
  position: absolute;
  opacity: 1;
  padding-left: 10%;
  padding-top: 10%;
  font-size: 1.5rem;
  color: azure;
  transition: opacity 0.5s ease-in-out;
}

.Projects-header h1 {
  left: 25%;
}


section h1 {
  color: #fff;
  font-size: 2.5rem;
  text-transform: uppercase;
  opacity: 0;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

section {
  position: absolute;
  color: azure;
  top: 0;
  height: 100vh;
  width: 0;
  opacity: 0;
  transition: all ease-in .5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles applied on trigger */
section:target {
  opacity: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

section:target h1 {
  opacity: 0;
  animation: 2s fadeIn forwards .5s;
}

#first {
  background: var(--primary-color);
}

#second {
  background: var(--complimentary-color);
}

#third {
  background: var(--contrast-color);
}

#fourth {
  background: var(--light-color);
}

#fifth {
  background: var(--light-color);
}

#sixth {
  background: var(--light-color);
}

@keyframes fadeIn {
  100% {
    opacity: 1
  }
}

/* Education section */
.university {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.university img {
  width: 9rem;
  margin-left: 1rem;
}

.university p {
  font-size: 1.25rem;
  color: #ffffff;
  flex: 1;
  text-align: left;
}

.university p span {
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

/* Projects stuff */
.Projects-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Main-Project {
  padding-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  clear: both;
  flex-direction: column;
}

.Main-Project>div {
  text-align: center;
}

.Sickie {
  max-width: 28rem;
  height: auto;
  margin-right: 1.5%;
  margin-left: 1.5%;
  transition: transform 0.3s;
}

.Sickie:hover {
  transform: scale(1.3);
}

.Sickie-container {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
  font-size: 1.25rem;
}

.Sickie-gif {
  align-items: center;
}

.Side-Projects {
  padding-top: 5%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  flex-wrap: wrap;
  margin-left: 10%;
}

.Side-Projects .card {
  max-width: 15rem;
  margin: 1rem;
  height: auto;
}

.Marvel {
  width: 15rem;
  height: auto;
}

.Summon {
  width: 15rem;
  height: auto;
}

.Blog {
  width: 15rem;
  height: auto;
}

.card figcaption {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

/* Projects */
/* For screens narrower than a specific width, stack side projects in a single column */
@media screen and (max-width: 768px) {
  .Side-Projects {
    grid-template-columns: 1fr; /* Set to a single column for smaller screens */
  }
}




/* Media query for Nav bar smaller screens */
@media screen and (max-width: 650px) {
  /* Smaller font size and padding for nav links on smaller screens */
  nav a {
    font-size: 1rem; /* Adjust font size for smaller screens */
    padding: 0.5rem; /* Adjust padding for smaller screens */
  }
}


/* Add a media query for screens narrower than a specific width */
@media screen and (max-width: 768px) {
  /* Hide the GIFs by setting their display property to none */
  .Sickie,
  .Marvel,
  .Summon,
  .Blog {
  display: none;
  }
}

@media screen and (max-width: 768px) {
  .Main-Project {
    font-size: 0.7rem;
    align-items: left;
  }

  .Side-Projects {
    font-size: 0.6rem;
  }

  /* Add this rule to hide the header on smaller screens */
  .Projects-header h1 {
    display: none;
  }
}





/* Media query for smaller screens */
@media screen and (max-width: 650px) {
  .university p {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }

  .Sickie-container {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
}


