* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #161461;
  --secondary-color: #4415a8;
  --complimentary-color: #0e1797;
  --contrast-color: #023d26;
  --light-color: #003c80;
  --sunset-color: #4b0f00;
}

html,
body {
  overflow: hidden;
}


.container {
  /* background: #000000; */
  background: url('/assets/astronaut-man.jpg') no-repeat center center/cover;
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
  padding: 2%;
}

nav a {
  font-size: 2.5rem;
  color: #fff;
  text-decoration: none;
  padding: 1.5rem;
  text-align: center;
}


nav {
  position: absolute;
  left: 0;
  z-index: 50;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  background: var(--secondary-color);
}


.Projects-header h1 {
  left: 25%;
}


section h1 {
  color: #fff;
  font-size: 2.5rem;
  text-transform: uppercase;
  opacity: 0;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

section {
  position: absolute;
  color: azure;
  top: 0;
  height: 100vh;
  width: 0;
  opacity: 0;
  transition: all ease-in .5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles applied on trigger */
section:target {
  opacity: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

section:target h1 {
  opacity: 0;
  animation: 2s fadeIn forwards .5s;
}

#first {
  background: var(--primary-color);
}

#second {
  background: var(--complimentary-color);
}

/* #third {
  background: var(--contrast-color);
} */

#third {
  background: url('/assets/lonely-blue.jpg') no-repeat center center/cover;
  /* This will set the background image, center it both horizontally and vertically, and make sure it covers the entire element */
}

/* #fourth {
  background: var(--light-color);
} */

#fourth {
  background: url('/assets/Journey.jpg') no-repeat center center/cover;
  /* This will set the background image, center it both horizontally and vertically, and make sure it covers the entire element */
}


#fifth {
  background: var(--secondary-color);
}

/* #sixth {
  background: var(--sunset-color);
} */

#sixth {
  background: url('/assets/astronaut-man.jpg') no-repeat center center/cover;
  /* This will set the background image, center it both horizontally and vertically, and make sure it covers the entire element */
}

@keyframes fadeIn {
  100% {
    opacity: 1
  }
}

/* !!!!!!!!!!! Zero Section !!!!!!! */
.zero-section {
  position: absolute;
  opacity: 1;
  padding-left: 15%;
  padding-top: 10%;
  font-size: 1.5rem;
  color: azure;
  transition: opacity 0.5s ease-in-out;
}

.text-box {
  border: 2px solid #000; /* Border style */
  padding: 10%; /* Padding inside the box */
  background-color: #000000;
  border-radius: 15px;
}


/* !!!!!!!!!!! Zero Section End !!!!!!! */

/* !!!!!! First Section !!!!! */
.first-section {
  font-size: 1.5rem;
  display: block;
}

.shaking-eyes-gif {
  width: 20%;
  margin-bottom: 20px;
  text-align: center;
}

/* !!!!!!!!!!!!! Skills !!!!!!!!!! */

.skills-table {
  padding-left: 20%;
  padding-right: 10%;
  padding-top: 5%;
}

.skills-table th,
.skills-table td {
  border: 0.15em solid #ddd;
  padding: 1.25%;
  text-align: left;
}

.skills-table th {
  background-color: #000000;
}


/* Education section */
.university {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.university img {
  width: 9rem;
  margin-left: 1rem;
}

.university p {
  font-size: 1.25rem;
  color: #ffffff;
  flex: 1;
  text-align: left;
}

.university p span {
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

/* !!!!!!!Projects stuff!!!!!!!! */
.Projects-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Main-Project {
  padding-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  clear: both;
  flex-direction: column;
}


.Sickie {
  max-width: 26rem;
  height: auto;
  margin-right: 1.5%;
  margin-left: 1.5%;
  transition: transform 0.3s;
}

.Sickie:hover {
  transform: scale(1.3);
}

.Sickie-container {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
  /* font-size: 1.00rem; */
}

.Sickie-gif {
  align-items: center;
}

.Side-Projects {
  padding-top: 3%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  flex-wrap: wrap;
  margin-left: 20%;
}

.Side-Projects .card {
  max-width: 15rem;
  height: auto;
  padding-left: 0.5rem;
}

.Marvel {
  width: 15rem;
  height: auto;
}

.Summon {
  width: 15rem;
  height: auto;
}

.Blog {
  width: 15rem;
  height: auto;
}

.card figcaption {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--complimentary-color);
}

/* !!!!!!!Projects stuff End !!!!!!!! */

/* !!!!!!!MORE Projects stuff !!!!!!!! */
/* Style for the "See More Projects" button */
#see-more-button {
  position: fixed;
  top: 5%;
  right: 20px;
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1000;
}

/* Add styling for the button container */
.see-more-button-container {
  text-align: center;
  padding-top: 20px;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 768px) {
  #see-more-button {
    text-align: center;
    /* Center the button horizontally */
    position: fixed;
    right: 20px;
    bottom: 20px;
    top: auto;
  }
}

/* Add CSS for the table in the seventh section */
#seventh table {
  width: 100%;
  margin-top: 20px;
  padding-left: 15%;
}

#seventh th,
#seventh td {
  border: 1px solid #ffffff;
  /* Add white borders */
  padding: 8px;
  /* Add padding to cells */
  text-align: left;
}

#seventh th {
  background-color: var(--primary-color);
  /* Set a background color for header cells */
  color: #fff;
}

.more-projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-wrap: wrap;
}

/* Media query for smaller screens (e.g., phones) */
@media screen and (max-width: 768px) {
  .more-projects-container {
    /* Adjust the font size for smaller screens */
    font-size: 0.5rem;
  }

  /* Adjust the button size on smaller screens */
  #seventh .button {
    font-size: 0.7rem;
    padding: 5px 10px;
  }

  #seventh h1 {
    display: none;
  }

}


/* !!!!!!!MORE Projects stuff End !!!!!!!! */

/* !!!!!!!Contact Section !!!!!*/
#sixth h1 {
  padding-bottom: 10%;
  /* You can adjust the value (20px in this example) according to your preference */
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 10%;
}

.contact-text {
  padding-bottom: 30%;
}

/* CSS to style contact buttons */
.contact-button {
  display: block;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin: 5px auto;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  text-align: left;
}

.contact-button:hover {
  background-color: #0056b3;
  /* Change this to your preferred button hover color */
}

/* Center-align buttons */
.contact-details {
  text-align: center;
}

/* !!!!!!!Contact Section End !!!!!*/



/* Projects */
/* For screens narrower than a specific width, stack side projects in a single column */
@media screen and (max-width: 768px) {
  .Side-Projects {
    grid-template-columns: 1fr;
    /* Set to a single column for smaller screens */
  }
}


/* Nav Bar */

/* Media query for Nav bar smaller screens */
@media screen and (max-width: 650px) {

  /* Smaller font size and padding for nav links on smaller screens */
  nav a {
    font-size: 1rem;
    /* Adjust font size for smaller screens */
    padding: 0.5rem;
    /* Adjust padding for smaller screens */
  }
}

/* !!!!!!!!Projects Section!!!!!!! */

@media screen and (max-width: 768px) {

  /* Hide the GIFs by setting their display property to none */
  .Sickie,
  .Marvel,
  .Summon,
  .Blog {
    display: none;
  }

  .Main-Project {
    font-size: 0.8rem;
  }

  .Side-Projects {
    font-size: 0.7rem;
  }

  /* Add this rule to hide the header on smaller screens */
  .Projects-header h1 {
    display: none;
  }
}


/* For screens between 769px and 1024px (medium-sized phones/tablets) */
@media screen and (min-width: 769px) and (max-width: 1024px) {

  /* Your styles for medium-sized phones/tablets here */
  /* Hide the GIFs by setting their display property to none */
  .Sickie,
  .Marvel,
  .Summon,
  .Blog {
    display: none;
  }

  .Main-Project {
    font-size: 0.7rem;
    align-items: left;
  }

  .Side-Projects {
    font-size: 0.6rem;
  }

  /* Add this rule to hide the header on smaller screens */
  .Projects-header h1 {
    display: none;
  }
}

/* Adjust the font size for smaller screens if needed */
@media screen and (max-width: 768px) {
  .button {
    font-size: 0.5rem;
  }
}

.button-container {
  display: flex;
  justify-content: space-between;
}

/* !!!!!!Projects Section End!!!!!!! */

/* !!!!!!Education Section!!!!!!  */

/* Media query for smaller screens */
@media screen and (max-width: 650px) {
  .university img {
    display: none;
  }

  .university p {
    font-size: 1rem;
    text-wrap: wrap;
    padding-left: 20%;
  }

}

/* !!!!!Education Section End!!!!!! */